@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Gurleen Singh 200356784</h1>
    <p class="lead">SIMPLE MVC ASP.NET CRUD Application on Crops and Farmers (Agriculture) for Midterm</p>
</div>
